:host {
    width: 100%;
    min-height: 320px;
    padding: 0 2rem;
    border: 2px solid black;
    border-radius: 4px;
    display: block;
    margin: 48px auto 48px -2rem;

    .status-message {
        background-color: bisque;
        padding: 4px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
    }

    button {
        margin: 6px auto;
        padding: 6px;
        border: 1px solid gray;
        border-radius: 4px;
        cursor: pointer;

        &.delete {
            background-color: rgba(233, 150, 122, .5);

        }
        &:disabled {
            background-color: transparent;
            cursor: not-allowed;
        }
    }
}