<div style="margin: 5rem auto; width: 10rem;">

    <h1>Welcome to knora-api-js-lib-test!</h1>

    <section>
        <h3>Health State</h3>
        <span>{{ healthState | async | json}}</span>
    </section>

    <section id="login">
        <h3>Login/Logout</h3>
        <button class="login" (click)="login()">Login</button><br /><br />
        <button class="logout" (click)="logout()">Logout</button><br /><br />
        <div>Status: <span class="status">{{loginStatus}}</span></div>
    </section>

    <section id="admin">
        <h3>Admin</h3>
        <div>
            <h4>Users</h4>
            <button (click)="getUsers()">All users</button> <br /><br />
            <button (click)="getUser('http://rdfh.ch/users/root')">Get root user</button> <br /><br />
        </div>
        <div id="permissions">
            <h4>Permissions</h4>
            <button class="get-permissions" (click)="getPermissions()">Get permissions belonging to a project</button> <br /><br />
            <button class="get-administrative-permission" (click)="getAdministrativePermission()">Get administrative permission for a project and group</button> <br /><br />
            <button class="get-administrative-permissions" (click)="getAdministrativePermissions()">Get administrative permissions for a project</button> <br /><br />
            <button class="create-administrative-permission" (click)="createAdministrativePermission()">Create an administrative Permission</button> <br /><br />
            <button class="get-default-object-access-permissions" (click)="getDefaultObjectAccessPermissions()">Get default object access permissions for a project</button> <br /><br />
            <button class="create-default-object-access-permission" (click)="createDefaultObjectAccessPermission()">Create default object access permission for a project</button> <br /><br />
            <span *ngIf="permissionStatus" class="status">Permission status: {{permissionStatus}}</span>
        </div>
        <div id="lists">
            <h4>Lists</h4>
            <button class="create-list" (click)="createList()">Create a list</button> <br /><br />
            <button class="update-list-node" (click)="updateChildNode()">Update labels & comments of a child node</button> <br /><br />
            <button class="update-child-name" (click)="updateChildName()">Update name of a child node</button> <br /><br />
            <button class="update-child-labels" (click)="updateChildLabels()">Update labels of a child node</button> <br /><br />
            <button class="update-child-comments" (click)="updateChildComments()">Update comments of a child node</button> <br /><br />
            <button class="get-list" (click)="getList()">Get list</button> <br /><br />
            <button class="get-list-node-info" (click)="getListNodeInfo()">Get info of a node</button> <br /><br />
            <div>
                List Info:
                <div>Name: <span class="list-name">{{listName}}</span></div>
                <div>Labels: <span class="list-labels">{{listLabels}}</span></div>
                <div>Comments: <span class="list-comments">{{listComments}}</span></div>
                <div>Children Count: <span class="list-children">{{listChildren}}</span></div>
            </div>
            <br>
            <div>
                List Node Info:
                <div>Name: <span class="child-name">{{listChildName}}</span></div>
                <div>Labels: <span class="child-labels">{{listChildLabels}}</span></div>
                <div>Comments: <span class="child-comments">{{listChildComments}}</span></div>
                <div>ID: <span class="list-node-id">{{listNodeId}}</span></div>
            </div>
        </div>
    </section>

    <section id="ontologycache">
        <h3>Ontology Cache</h3>
        <button class="knora-api" (click)="getOntology('http://api.knora.org/ontology/knora-api/v2')">Get system ontology</button> <br /><br />
        <button class="anything" (click)="getOntology('http://0.0.0.0:3333/ontology/0001/anything/v2')">Get anything ontology</button> <br /><br />
        <button class="something" (click)="getOntology('http://0.0.0.0:3333/ontology/0001/something/v2')">Get something ontology</button> <br /><br />

        <button (click)="getResourceClass('http://0.0.0.0:3333/ontology/0001/anything/v2#Thing')">Get anything Thing Def</button> <br /><br />
        <div>
            Ontology Information:
            <div>Number of ontologies: <span class="ontology">{{ontologies?.size}}</span></div>
        </div>
    </section>

    <section id="ontologyendpoint">
        <h3>Ontology With All Languages</h3>
        <button class="knora-api" (click)="getOntologyWithAllLanguages('http://api.knora.org/ontology/knora-api/v2')">Get system ontology</button> <br /><br />
        <button class="anything" (click)="getOntologyWithAllLanguages('http://0.0.0.0:3333/ontology/0001/anything/v2')">Get anything ontology</button> <br /><br />
        <div>
            Ontology with all languages: <span class="ontology">{{ontologyWithAllLangs?.label}}</span>
        </div>
    </section>

    <section id="ontologymetadata">
        <h3>Project specific ontologies</h3>
        <button class="anything" (click)="getAnythingOntologies()">Get anything project ontologies</button>
        <div>
            Anything project has<br><span class="anything">{{anythingOntologies?.ontologies.length | i18nPlural: itemPluralMapping['ontology']}}</span>
        </div>        
        <button class="dokubib" (click)="getDokubibOntologies()">Get dokubib project ontologies</button>
        <div>
            Dokubib project has<br><span class="dokubib">{{dokubibOntologies?.ontologies.length | i18nPlural: itemPluralMapping['ontology']}}</span>
        </div>
    </section>

    <section id="ontologyeditor">
        <h3>Ontology</h3>
        <button class="create-onto" (click)="createOntology()">Create testonto</button> <br /><br />
        <div><span *ngIf="ontologyMeta">Ontology created:&nbsp;</span><span class="label">{{ontologyMeta?.label}}</span> </div> <br />
        <button class="read-onto" (click)="getTestOnto('http://0.0.0.0:3333/ontology/0001/testonto/v2')">Get testonto</button> <br /><br />
        <div>The ontology's label: <span class="read-label">{{ontology?.label}}</span> </div> <br />

        <p>Before clicking on the following resource class or property action buttons, you should click each time on <strong>Get testonto</strong> button above. Because lastModification time is always needed.</p>
        
        <h4>Resource Class</h4>
        <button class="create-res-class" (click)="createResourceClass()">Create resource class</button><br><br>
        <div><span *ngIf="resClass">Res class created:&nbsp;</span><span class="res-class-label">{{resClass?.label}}</span> <br> <span class="res-class-comment">{{resClass?.comment}}</span> </div> <br />

        <button class="update-res-class-label" (click)="updateResourceClassLabel()">Update resource class label</button><br><br>

        <button class="update-res-class-comment" (click)="updateResourceClassComment()">Update resource class comment</button><br><br>

        <button class="get-res-class" (click)="getResourceClass('http://0.0.0.0:3333/ontology/0001/testonto/v2#testclass')">Get resource class</button><br><br>

        <button class="delete-res-class" (click)="deleteResourceClass()">Delete resource class</button><br><br>

        <h4>Resource Property</h4>
        <button class="create-res-prop" (click)="createResourceProperty()">Create resource property</button><br><br>
        <div><span *ngIf="property">Res property created:&nbsp;</span><span class="res-prop-label">{{property?.label}}</span> </div> <br />

        <!-- <button class="get-res-class" (click)="getResourceClass('http://0.0.0.0:3333/ontology/0001/testonto/v2#testclass')">Get resource class</button><br><br> -->
        
        <button class="delete-res-prop" (click)="deleteResourceProperty()">Delete resource property</button><br><br>

        <button class="add-card-to-res-prop" (click)="addCardinality()">Add Cardinality to resource</button><br><br>
        <div><span *ngIf="property">Cardinality added:&nbsp;</span><span class="res-card-added">{{addCard?.label}}</span> </div> <br />

        <button class="delete-onto" (click)="deleteOntology()">Delete testonto</button>
        <div>Delete status: <span class="status">{{message}}</span></div> <br />
    </section>

    <section id="resource">
        <h3>Resource</h3>
        <button class="read" (click)="getResource('http://rdfh.ch/0001/H6gBWUuJSuuO-CilHV8kQw')">Get testding</button> <br /><br />
        <button class="create" (click)="createResource()">Create testding</button> <br /><br />
        <div>The resource's label: <span class="label">{{resource?.label}}</span> </div> <br/>
        <button class="update" (click)="updateResourceMetadata()">Update metadata</button> <br /><br />
        <div>Update status: <span class="status">{{resourceStatus}}</span> </div> <br/>
        <button class="delete" (click)="deleteResource()">Delete resource</button> <br /><br />
    </section>

    <section id="listnode">
        <h3>ListNode</h3>
        <button (click)="getListNode('http://rdfh.ch/lists/0001/treeList01')">Get anything list node</button> <br /><br />
        <div>The list node's label: <span class="label">{{listNode?.label}}</span> </div> <br/>
    </section>

    <section id="search">
        <h3>Search</h3>
        <button class="fulltext" (click)="fulltextSearch('thing')">Fulltext search for a thing</button> <br /><br />
        <button class="fulltextcount" (click)="fulltextSearchCountQuery('thing')">S. for a thing count query</button> <br /><br />

        <button class="labelsearch" (click)="labelSearch('thing')">Label search for a thing</button> <br /><br />

        <button class="extended" (click)="extendedSearch()">Search for things</button> <br /><br />
        <button class="extendedcount" (click)="extendedSearchCountQuery()">Search for things count</button> <br /><br />

        <div>Search result: <span class="result">{{searchResult}}</span></div>
        <div>Search result size: <span class="size">{{size}}</span></div>

    </section>

    <section id="values">
        <h3>Values</h3>
        <button class="read" (click)="getValue('http://rdfh.ch/0001/H6gBWUuJSuuO-CilHV8kQw', 'dJ1ES8QTQNepFKF5-EAqdg')">Read a value</button> <br /><br />
        <button class="update" (click)="updateValue(generateUpdateIntValue(2))">Update an int value</button> <br /><br />
        <button class="create" (click)="createValue(generateCreateIntValue(5))">Create an int value</button> <br /><br />
        <button class="delete" (click)="deleteValue()">Delete a value</button>
        <div>Status: <span class="status">{{valueStatus}}</span></div>
    </section>

    <section id="metadata">
        <h3>Project Metadata</h3>
        <button class="update" (click)="updateProjectMetadata()">Update project metadata</button> <br /><br />
        <button class="read" (click)="getProjectMetadata()">Get project metadata</button>
        <div>Status: <span class="status">{{projectMetaStatus}}</span></div>
    </section>

</div>
