name: CI

on:
  push:
  release:
    types: [published]

jobs:
  build-test:
    name: Build and Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    steps:
      - name: Disk Free
        run: |
          sudo df -i
          sudo df -h
          sudo du -sh /var/lib/docker
          sudo docker system prune --all --force --volumes
          sudo df -h
      - name: Checkout source
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Checkout private ci-assets
        uses: actions/checkout@v2
        with:
          repository: dasch-swiss/dsp-ci-assets
          token: ${{ secrets.GitHub_PAT }} # `GitHub_PAT` is a secret that contains the PAT.
          path: ci
      - name: Cache node_modules artifacts
        uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{ runner.OS }}-build-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.OS }}-build-${{ env.cache-name }}-
            ${{ runner.OS }}-build-
            ${{ runner.OS }}-
      - name: Install requirements
        run: |
          sudo apt-get install expect
          sudo npm install --global @bazel/bazelisk
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: make npm-install
      - name: Prepare test environment
        run: make prepare-test-ci
      - name: Get api client test data from knora-api
        uses: dsaltares/fetch-gh-release-asset@master
        with:
          repo: "dasch-swiss/knora-api"
          version: "tags/v13.0.0-rc.18"
          file: "client-test-data.zip"
          token: ${{ secrets.GH_TOKEN }}
      - name: Prepare test data
        run: make prepare-test-data
      - name: Run unit tests
        run: make unit-tests
      - name: Build lib
        run: make build
      - name: Run e2e tests
        run: make e2e-tests

  update_release_draft:
    name: Update next release draft
    needs: [build-test]
    runs-on: ubuntu-latest
    # Drafts your next Release notes as Pull Requests are merged into "master"
    if: github.ref == 'refs/heads/master'
    steps:
      - uses: release-drafter/release-drafter@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

  build:
    name: Build package and publish (on release only)
    needs: [build-test]
    runs-on: ubuntu-latest
    env:
      dist-directory: ./build/
    if: github.event_name == 'release' && startsWith(github.ref, 'refs/tags')
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: https://registry.npmjs.org/
      - name: Install dependencies
        run: |
          sudo npm install --global @bazel/bazelisk
          npm install
          npm run peer-deps
      - name: Test
        run: npm run test
      - name: Prepare dev publication
        run: npm run prepare-dev-publication
      - name: Build
        run: npm run build
      - name: Get previous tag
        id: previoustag
        uses: "WyriHaximus/github-action-get-previous-tag@master"
      - name: Update version
        run: cd ${{env.dist-directory}} && npm version ${{steps.previoustag.outputs.tag}} --git-tag-version=false --commit-hooks=false
      - if: "github.event.release.prerelease"
        name: Publish pre-release to npm
        run: npm publish ${{env.dist-directory}} --tag rc --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN_DASCHBOT}}
      - if: "!github.event.release.prerelease"
        name: Publish release to npm
        run: npm publish ${{env.dist-directory}} --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN_DASCHBOT}}
